<% content_for :title do %>
  ReDiscover Weekly | Help &amp; Info
<% end %>

<h2>Help &amp; Information</h2>
<hr>
<h3>What is this thing?</h3>
<p>ReDiscover Weekly is a simple app that backs up your Spotify Discover Weekly playlists <strong>here</strong> AND to your Spotify account every week.</p>

<h3>When do the backups happen?</h3>
<p>The backups happen at 8:00pm CST every Monday</p>

<h3>How do I stop the automatic backups?</h3>
<p>If you'd like to stop the backups head to <%= link_to "this page", edit_user_path(current_user) %> and uncheck the "Auto Weekly Backup" checkbox and then click Submit.</p>

<p><strong>Please Note:</strong> If you disable Automatic Weekly Backups then you will not be able to recover those playlists here or in Spotify.</p>

<h3>Where do I send feedback or report issues?</h3>
<p>Send me an email - <a href="mailto:mdoyle13@gmail.com">mdoyle13@gmail.com</a></p>