<% content_for :title do %>
  ReDiscover Weekly | Help &amp; Info
<% end %>

<h2>Help &amp; Information</h2>
<hr>
<h3>What is this thing?</h3>
<p>ReDiscover Weekly is a simple app that backs up your Spotify Discover Weekly playlists <strong>here</strong> AND to your Spotify account every week.</p>

<h3>When do the backups happen?</h3>
<p>The backups happen at 8:00pm CST every Monday</p>

<h3>How do I stop the automatic backups?</h3>
<p>This service will continue to backup your Discover Weekly every week unless you delete your account</p>
<p>If you'd like to stop the backup playlists from showing up in your Spotify account - visit <%= link_to "this page", edit_user_path(current_user) %> and uncheck the "Automatically add playlist to my Spotify account?" checkbox and then click Submit.</p>

<h3>Where do I send feedback or report issues?</h3>
<p>Send me an email - <a href="mailto:mdoyle13@gmail.com">mdoyle13@gmail.com</a></p>
