@import "bootstrap";

$spotify-green: #21D05F;
$nav-link-color: rgba(0, 0, 0, 0.5);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}


.nav-link {
  color: $nav-link-color;
  
  &:hover {
    color: rgba($nav-link-color, 0.7);
  }
}

// stop the dropdown of the profile nav from overflowing
// to the right of the screen
.profile-nav .dropdown-menu.show {
  left: auto;
  right: 0;
}


.profile-nav {
  display: inline-flex;
}

.profile-nav__user-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@include media-breakpoint-down(md) {
  .home-hero {
    font-size: 0.8em;
    padding-top: 100px;
  }

  .profile-nav {
    display: block;
  }

  .profile-nav .dropdown-menu.show {
    display: block;
    float: none;
    position: static;
  }

  .profile-nav__user-image {
    display: none !important;
  }

  #navbarDropdownMenuLink {
    padding-left: 0;
  }
}

@include media-breakpoint-down(xs) {
  .backups-list-table__buton-group {
    flex-direction: column;
  }
}

.flash-message-wrapper {
  margin: 2em 0;
}