@import "bootstrap";
@import "icomoon";

$spotify-green: #21D05F;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.home-hero {
  background-image: image-url("home-hero-bg.jpg");
  background-size: cover;
  color: #fff;
  height: 100vh;
  overflow: auto;
  padding: 200px 0 0 0;

  h1, p {
    text-align: center;
  }

  h1 {
    font-size: 5.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
  }

  h1 strong {
    font-weight: 700;
  }

  p {
    font-weight: 100;
    font-size: 1.33em;
    letter-spacing: 6px;
    margin-bottom: 2em;
    text-transform: uppercase;
  }
}

.home-hero__spotify-button {
  background: darken($spotify-green, 15);
  border-radius: 50px;
  color: #fff;
  display: table;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0.75em 2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  
  &:hover {
    background: $spotify-green;
    color: inherit;
    padding-left: 2.5em;
    padding-right: 2.5em;
    text-decoration: none;
  }

  &:active {
    position: relative;
    top: 2px;
    right: -2px;
  }
}

// stop the dropdown of the profile nav from overflowing
// to the right of the screen
.profile-nav .dropdown-menu.show {
  left: auto;
  right: 0;
}


.profile-nav {
  display: inline-flex;
}

.profile-nav__user-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@include media-breakpoint-down(md) {
  .profile-nav {
    display: block;
  }

  .profile-nav .dropdown-menu.show {
    display: block;
    float: none;
    position: static;
  }
}


.flash-message-wrapper {
  margin: 2em 0;
}